#titlebox {
  align-self: center;
  padding: 100px;
  border-style: double;
  border-color: grey;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: 'Ceviche One';
  color: rgb(247, 72, 72);
  font-size: 1.65em;
}

button {
  background-color: rgb(247, 72, 72);
  color: white;
  border: none;
  border-radius: 3px;

}

#headertitle {
  text-shadow: -1px 0 black, 0 2px black, 1px 0 black, 0 -1px black;
  margin: 0.1em;
  text-align: center;
}

#headersubtitle {
  margin: 0.1em;
  text-align: center;
  font-family: normal;
  color: black;
  font-size: 0.5em;
}

.latintext {
  font-size: 12pt;
  text-align: justify;
}

#bodygrid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 0.5fr 0.1fr 1.3fr 0.5fr;
  grid-template-areas: ". header ."
                       "quote quote quote"
                       ". mainfeatures ."
                       "footer footer footer"
}

#quote {
  grid-area: quote;
  justify-self: center;
  position: relative;
  text-align: center; 
}

#quote > img {
  height: auto;
  width: auto;
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  border-left: none;
  border-right: none;
  padding: 0.2em;
}

h4 {
  font-weight: bold;
  font-size: 0.75em;
}

#mainfeatures {
  display: grid;
  grid-column-gap: 4%;
  grid-template-columns: 1fr 0.5fr;
  grid-template-areas: "main features";
  grid-area: mainfeatures;

}

#main {
  grid-area: main;
  justify-self: center;
}

#features {
  grid-area: features;
  justify-self: center;
}

#footer {
  display: grid;
  grid-area: footer;
  justify-self: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-gap: 8px;
  text-align: center;
  background-color: lightslategray;
  grid-template-areas: 
    "f-header f-header"
    "form-footer f-paragraph" 

}

#header {
  grid-area: header;
  width: 100%;
  margin-bottom: 50px;
}

#threephotos {
  display: flex;
  justify-content: space-between;
  margin: 2em;
  font-size: 0.75em;
  margin-bottom: 0;
}

#headerbox {
  text-align: center;
  margin: 2em;
}

#threephotos > figure > figcaption {
  margin: 2em;
  text-align: center;
  font-weight: normal;
}

figure > img {
  border-width:3px;  
  border-style:inset;
}

figure {
  margin-bottom: 0;
}

#quote > .quote {
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: white;
  font-weight: bolder;
  font-size: 1.5em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#quote > .bracketleft {
  position: absolute;
  top: 0.9%;
  left: 356px;
  color: rgb(247, 72, 72);
  font-weight: bolder;
  font-size: 4.5em;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

#quote > .bracketright {
  position: absolute;
  top: 0.9%;
  right: 356px;
  color: rgb(247, 72, 72);
  font-weight: bolder;
  font-size: 4.5em;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

#footer h2 {
  grid-area: f-header;
  grid-column: span 2
}

form {
  grid-area: form-footer;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-gap: 3px;
  grid-template-areas: 
    "f-name f-email"
    "f-subject f-subject"
    "f-subject f-subject"
    "f-submit ."

}

.f-paragraph {
  grid-area: f-paragraph;
  text-align: left;
}

.f-contact {
  display: flex;
  flex-direction: row;
}

#name {
grid-area: f-name;
}

#email {
grid-area: f-email;
}

#subject {
grid-area: f-subject;
}

#submit {
grid-area: f-submit;
}

#features > div > .date {
  background-color: black;
  color: white;
  width: 60px;
  text-align: center;
  border-radius: 3px;
}

a {
  text-decoration: none;
}

#features > .dateborder1 {
  border-style: solid;
  border-color: grey;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 1px;
}

#features > .dateborder2 {
  border-style: double;
  border-color: grey;
  border-top: none;
  border-left: none;
  border-right: none;
}

#features > .sidephoto1 {
  padding: 2px;
  border-style: solid;
  border-color: grey;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 1px;
}

#features > .sidephoto2 {
  padding: 10px;
}

.sidephoto1 > p > img {
  border-width:3px;  
  border-style:inset;
}

#trickyphoto {
  border-width:3px;  
  border-style:inset;
}
