#titlebox {
  align-self: center;
  padding: 100px;
  border-style: double;
  border-color: grey;
  border-top: none;
  border-left: none;
  border-right: none;
  font-family: 'Ceviche One';
  color: rgb(247, 72, 72);
  font-size: 1.65em;
}

#headertitle {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin: 0.1em;
  text-align: center;
}

#headersubtitle {
  margin: 0.1em;
  text-align: center;
  font-family: normal;
  color: black;
  font-size: 0.5em;
}

#bodygrid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 0.1fr 3fr 2fr;
  grid-template-areas: ". header ."
                       "quote quote quote"
                       ". mainfeatures ."
                       "footer footer footer"
}

#quote {
  grid-area: quote;
  justify-self: center;
  border-style: solid;
  border-color: grey;
  border-left: none;
  border-right: none;
  position: relative;
  text-align: center;
}

#quote > img {
  height: auto;
  width: auto;
}

#mainfeatures {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-areas: "main features";
  grid-area: mainfeatures;

}

#main {
  grid-area: main;
  justify-self: center;
}

#features {
  grid-area: features;
  justify-self: center;
}

#footer {
  grid-area: footer;
  justify-self: center;
}

#header {
  grid-area: header;
  width: 100%;
}

#threephotos {
  display: flex;
  justify-content: space-between;
  margin: 2em;
  font-size: 0.75em;
}

#headerbox {
  text-align: center;
  margin: 2em;
}

#threephotos > figure > figcaption {
  margin: 2em;
  text-align: center;
  font-weight: normal;
}

figure > img {
  border-width:3px;  
  border-style:inset;
}

#quote > .quote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: white;
  font-weight: bolder;
  font-size: 1.5em;
  text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

#quote > .brackets {
  position: absolute;
  top: 8px;
  left: 16px;
}